.playersList {
  padding: 10px;
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 50px;
  width: 20%;
  min-width: 200px;

  display: flex;
  flex-direction: column;

  font-family: "PFW";

  background: rgba(0, 0, 0, 50%);
  border-radius: 5px;

  opacity: 1;
  transition: 1s;
}

.playersList-title {
  font-size: var(--primarySize);
  color: var(--primaryColor);
  font-weight: normal;
}

.player-list-item {
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  padding-left: 2em;
  padding-right: 0.5em;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  color: #d9bef3;
  background-color: #372b51;
  border-top: 3px solid #453469;
  border-right: 3px solid #302742;
  border-bottom: 3px solid #211c2c;
  box-shadow: 0 0 8px #000;
  border-radius: 3px 0px 0px 3px;

  margin-bottom: 0.5em;
  cursor: pointer;
}

.player-list {
  list-style: none;
}

.player-list-item:hover {
  background-color: #131313;

  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}

.player-list-item:hover > .add-black-list {
  display: block;
}
.player-list-item:hover > .player-info {
  opacity: 0;
}
.player-list-item:hover > .player-score {
  opacity: 0;
}

.player-black-list {
  background-color: #131313;
  color: white;

  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}

.player-black-item:hover {
  background-color: #372b51;
  border-top: 3px solid #453469;
  border-right: 3px solid #302742;
  border-bottom: 3px solid #211c2c;
  box-shadow: 0 0 8px #000;
}

.player-black-list:hover > .remove-black-list {
  display: block;
}
.player-black-list:hover > .add-black-list {
  display: none;
}

.add-black-list,
.remove-black-list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;

  text-align: center;
  color: white;
}

.player-info {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  color: inherit;
}

.player-iter {
  font-size: 1.5em;
  color: inherit;
}

.player-name {
  font-size: 1.5em;
  font-size: bold;
}
.player-score {
  padding: 2px 4px 1px 4px;
  margin: 5px 0;

  width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 900;
  font-size: var(--secondarySize);
  color: #000;

  box-shadow: 0 0 8px white;
  background-color: white;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
  transition: 1s;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
