.modal-list {
  margin-top: 20px;
  padding: 0 5px;
  max-height: 50vh;
  overflow: auto;
}



.lost-container {
  display: flex;
  justify-content: space-between;
  color: #f44;
  background: #4006;
  text-shadow: 0 0 4px #f44a;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  margin-top: 1em;
}

.win-container {
  display: flex;
  justify-content: space-between;
  background-color: #0004;
  color: #b3f4b6;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  margin-top: 1em;
}
