.game-screen {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.start-timer {
  position: absolute;
  left: calc(50% - 9vh);
  top: calc(50% - 9vh);

  font-size: 30vh;
  color: #ffb403;
  text-align: center;
  -webkit-text-stroke: 5px #fffd02;
  z-index: 10;

  animation: timerTick infinite 1.02s;
}

@keyframes timerTick {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.finish-timer {
  position: relative;

  font-size: var(--primarySize);
  color: var(--ternaryColor);
  text-align: center;
  z-index: 10;

  animation: none;
}

.game-screen-content {
  padding: 20px;

  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 40%);
  border-radius: 10px;
  border: 1px solid var(--primaryShadowColor);
  opacity: 30%;
  transition: 0.2s;
}

.game-screen-content.active {
  opacity: 1;
  transition: 0.2s;
}

.game-screen-title {
  color: var(--ternaryColor);
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;

  background: linear-gradient(
    to bottom,
    var(--primaryBorderLightColor) 0,
    var(--primaryBorderDarkColor) 100%
  );
}

.option {
  cursor: pointer;
  border-radius: 10px;
}

.option:active {
  background-color: grey;
}

.option.active {
  background: linear-gradient(
    to bottom,
    var(--ternaryColor) 0,
    var(--ternaryBackgroundLightColor) 100%
  );
}

.option.active:hover {
  background: linear-gradient(
    to bottom,
    var(--ternaryColor) 0,
    var(--ternaryBackgroundLightColor) 100%
  );
}

.option:hover {
  background-color: rgba(255, 255, 255, 40%);
}

.option-img {
  padding: 10px;
}

.option-desc {
  padding: 10px;
  text-align: center;
  color: #b190e2;
}
